.loginBoxCss{
    height: 10vw;
    display: flex;
    justify-content: center;
}

.loginContent{
    height: 24vw;
    width: 28.5vw;
    border: 0.01vw solid rgb(121, 121, 121);
    margin-top: 4vw;
    padding: 0.5vw 0.5vw;
}

.LCTitle{
    font-size: 1.2vw;
    line-height: 1.2vw;
    margin: 2.5vw 0 2vw 2vw;
    font-weight: bold;
}

.loginForm{
    padding:0px 3vw 1vw 3vw;
}

.loginForm .btn{
    border-radius: 0;
    background-color: #563201;
    border-color: #563201;
    width: 100%;
    text-align: center;
    margin-top: 1.2vw;
    font-weight: bold;
    font-size: 1.1vw;
    line-height: 1.1vw;
    padding: 0.4vw 0;
}

.loginForm p{
    color: red;
    text-align: right;
    margin: 0;
    font-size: 1vw;
    line-height: 1vw;
    
}

.LCInputTitle{
    font-size: 1vw;
    line-height: 1vw;
    font-weight: bold;
    margin-top: 0.5vw;
    
}

.loginForm input{
    border: rgb(205, 205, 205) 0.01vw solid;
    border-radius: 0.4vw;
    width: 100%;
    height: 2vw;
    margin: 0.35vw 0;
}

.loginForm input:focus{
    outline: #c2dbfe 0.25vw solid;
    border: #86b7fe 0.01vw solid;
}
